.sales-pitch {
  background-image: $gradient-blue;

  color: $basic-white;
}

.sales-pitch__container {
  padding-top: 220px;
  padding-bottom: 60px;

  background-image: url("../img/sales-pitch.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 280px auto;

  @media (min-width: $tablet-width) {
    padding-top: 20px;

    background-position: right center;
    background-size: 340px auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 602px;

    background-position: right 57px;
    background-size: 689px auto;
  }
}

.sales-pitch__group {
  @media (min-width: $tablet-width) {
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    max-width: 515px;
  }
}

.sales-pitch__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 28px;
  line-height: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;

    font-size: 50px;
    line-height: 60px;
  }
}

.sales-pitch__text {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;

    font-size: 24px;
    line-height: 31px;
  }
}
